[defaults]
# Disable the initial SSH key prompt for automation
host_key_checking = False

[privilege_escalation]
# Give the OS 30 seconds to render the sudo prompt instead of 12
become_timeout = 30

[ssh_connection]
# Execute commands over a single, persistent SSH pipe (massive speed boost)
pipelining = True
